.button {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 2px 6px;
  cursor: pointer;
  background-color: var(--rick-and-morty-theme-slate-3xlight);
  border-radius: 4px;
  border: none;
  color: inherit;
}

/* TODO: add hover effect to button */

.button > span {
  font-size: 12px;
}
