:root {
  --rick-and-morty-theme-slate-5xlight: #f8fafc;
  --rick-and-morty-theme-slate-4xlight: #f1f5f9;
  --rick-and-morty-theme-slate-3xlight: #e2e8f0;

  --rick-and-morty-theme-gray-xlight: #6b7280;
  --rick-and-morty-theme-gray-2xdark: #374151;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background-color: var(--rick-and-morty-theme-slate-4xlight);
  color: var(--rick-and-morty-theme-gray-2xdark);
}

a {
  color: inherit;
  text-decoration: none;
}
