.nav {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--rick-and-morty-theme-slate-5xlight);
  padding: 8px 24px;
  z-index: 100;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.titles h1 {
  font-size: 16px;
  line-height: 16px;
}

.titles h4 {
  font-size: 12px;
  line-height: 12px;
  color: var(--rick-and-morty-theme-gray-xlight);
}
